#calculator {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

#display {
    flex: 1;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#display-text {
    margin-right: 10px;
    font-weight: bold;
    font-size: 300%;
}

#buttons {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin 5px;
}

#row {
    display: flex;
    flex: 1;
}

button {
    flex: 1;
    margin: 5px;
    font-weight: bold;
    font-size: 200%;
    border-radius: 10px;
    border: 1px solid black;
}

#operator, #equals {
    background-color: lightblue;
}